/*----------------------------------------------------------------------------*\
	$PAGE-STYLES
\*----------------------------------------------------------------------------*/

html {
	text-align: center;
	font: 1em/1.5 sans-serif;
}

body {
	margin: 80px 20px;
}


/*----------------------------------------------------------------------------*\
	$DROPDOWN

	Preview: rawgithub.com/Idered/snippets/master/MIXED/dropdown/index.html

	<div class="dropdown">
		<div class="dropdown__text">Your account</div>
		<div class="dropdown__toggle"></div>
		<ul class="dropdown__content">
			<li><a href="">Profile</a></li>
			<li><a href="">Settings</a></li>
			<li><a href="">Friends</a></li>
			<li><a href="">Go pro</a></li>
			<li><a href="">Sign out</a></li>
		</ul>
	</div>
\*----------------------------------------------------------------------------*/

.dropdown {
	color: #666;
	font-size: .9em;
	width: 100%;
	max-width: 400px;
	line-height: 2.2;
	text-align: left;
	position: relative;
	display: inline-block;
}

.dropdown__text {
	text-indent: .5em;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
}

.dropdown__toggle {
	border-left: 1px solid #d9d9d9;
	cursor: pointer;
	top: 0;
	bottom: 0;
	right: 1px;
	z-index: 1;
	padding: 0;
	width: 33px;
	position: absolute;
}

.dropdown__toggle:after {
	content: '';
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	margin: -3px -6px;
	position: absolute;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: #999 transparent transparent transparent;
}

.dropdown.is-open .dropdown__toggle:after {
	border-width: 0 6px 6px 6px;
	border-color: transparent transparent #999 transparent;
}

.dropdown__toggle:hover:after {
	border-top-color: #777;
}

.dropdown.is-open .dropdown__toggle:hover:after {
	border-bottom-color: #777;
}

.dropdown__content {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	text-indent: .5em;

	top: 2.1;
	left: 0;
	right: 0;
	padding: 0;
	margin: -1px 0 0 0;
	position: absolute;

	overflow: auto;
	max-height: 100px;

	opacity: 0;
	visibility:hidden;
	list-style-type: none;

	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-ms-transition: .25s ease;
	-o-transition: .25s ease;
	transition: .25s ease;
}

.dropdown__content li + li {
	border-top: 1px solid #d9d9d9;
}

.dropdown__content a {
	display: block;
	color: inherit;
	text-decoration: none;
	/* Add ... if too long */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dropdown__content a:hover {
	background-color: #f8f8f8;
}

.dropdown.is-open .dropdown__content {
	opacity: 1;
	visibility: visible;
}